/******************************
EXAMPLE STYLES
******************************/

/* demo2 */
body.dm-demo2 {
  background: #3498db;
}
body.dm-demo2 .button {
  color: #3498db;
  background: #2980b9;
}
body.dm-demo2 .button:hover {
  background-color: #20638f;
}
body.dm-demo2 .overlay {
  background-color: #20638f;
}
body.dm-demo2 .nav-el {
  background-color: #2980b9;
  transition: background-color .3s ease-in;
  -moz-transition: background-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
}
body.dm-demo2 .nav-el:hover, body.dm-demo2 .nav-el.active {
  background: #20638f;
}
body.dm-demo2 .nav-el.active {
  z-index: 11;
}
body.dm-demo2 .backtoarticle {
  border-color: #2980b9;
  color: #2980b9;
}
body.dm-demo2 .backtoarticle:hover {
  color: #20638f;
  border-color: #20638f;
}

/* demo3 */
body.dm-demo3 {
  background: #9b59b6;
}
body.dm-demo3 .button {
  color: #9b59b6;
  background: #8e44ad;
}
body.dm-demo3 .button:hover {
  background-color: #703688;
}
body.dm-demo3 .overlay {
  background-color: #703688;
}
body.dm-demo3 .nav-el {
  background-color: #8e44ad;
  transition: background-color .3s ease-in;
  -moz-transition: background-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
}
body.dm-demo3 .nav-el:hover, body.dm-demo3 .nav-el.active {
  background: #703688;
}
body.dm-demo3 .nav-el.active {
  z-index: 11;
}
body.dm-demo3 .backtoarticle {
  border-color: #8e44ad;
  color: #8e44ad;
}
body.dm-demo3 .backtoarticle:hover {
  color: #703688;
  border-color: #703688;
}

/* demo4 */
body.dm-demo4 {
  background: #34495e;
}
body.dm-demo4 .button {
  color: #34495e;
  background: #2c3e50;
}
body.dm-demo4 .button:hover {
  background-color: #1a242f;
}
body.dm-demo4 .overlay {
  background-color: #1a242f;
}
body.dm-demo4 .nav-el {
  background-color: #2c3e50;
  transition: background-color .3s ease-in;
  -moz-transition: background-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
}
body.dm-demo4 .nav-el:hover, body.dm-demo4 .nav-el.active {
  background: #1a242f;
}
body.dm-demo4 .nav-el.active {
  z-index: 11;
}
body.dm-demo4 .backtoarticle {
  border-color: #2c3e50;
  color: #2c3e50;
}
body.dm-demo4 .backtoarticle:hover {
  color: #1a242f;
  border-color: #1a242f;
}
