.nyx{ color: #4286f4; }
.black{ color: #000 !important; }

ul {margin-left: 30px; }
ul li {line-height: 25px; font-size: 15px;
    font-weight: normal;
    color: #111;}

    .side-bar {}

    .side-bar .section-heading{ padding: 0; }

    .side-bar .section-title { font-size: 30px;}