body{background:#E4E4E4;}
section, div, figure{margin:0; padding:0;}
figure img{ margin-top: 27%;}
figure h4{ margin: 0; padding: 0; color: #fff; text-align: center; font-size: 13.5px; font-weight: normal; font-family: 'Calibri';
    text-transform: uppercase; letter-spacing: 0.05em; line-height: 1;}

figure h3 {
    background: url('http://www.jeep.com/model-compare/images/st-mc-graphs-numbers-pricing.png') transparent no-repeat scroll 0px 4px;
    font-size: 26px;
    font-weight: normal;
    padding: 10px 0px 8px 45px;
    margin: 0;
    font-family: Helvetica, Arial;
    line-height: 1em;
    color: #666;
    text-align: left;
}

.payment figure h3{ background-image: url('http://www.jeep.com/model-compare/images/st-mc-graphs-numbers-pricing.png'); }
.engine figure h3{ background-image: url('http://www.jeep.com/model-compare/images/st-mc-graphs-numbers-engines.png'); }
.mpg figure h3{ background-image: url('http://www.jeep.com/model-compare/images/st-mc-graphs-numbers-mpg.png'); }
.towing figure h3{ background-image: url('http://www.jeep.com/model-compare/images/st-mc-graphs-numbers-towing.png'); }
.transmission figure h3{ background-image: url('http://www.jeep.com/model-compare/images/st-mc-graphs-numbers-transmissions.png'); }
.audio figure h3{ background-image: url('http://www.jeep.com/model-compare/images//st-mc-graphs-numbers-engines.png'); }
.wheels figure h3{ background-image: url('http://www.jeep.com/model-compare/images/st-mc-graphs-numbers-wheels-tires.png'); }
.interior figure h3{ background-image: url('http://www.jeep.com/model-compare/images/st-mc-graphs-numbers-color-wheel.png'); }

.bar{ margin: 0 0 5px 0; }
.bar:after, .bar:before{ display:table; content:""; clear:both; width:100%;}

.bar h5 {
    margin: 0 5px 0 20px;
    padding: 0;
    display: inline-block;
    float: left;
    width: 60px;
    text-align: left;
    font-family: 'Calibri';
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 0.02em;
    color: #666;
}

.bar blockquote {
    margin: 0;
    padding: 0;
    width: 0;
    height: 15px;
    float: left;
    background: -webkit-linear-gradient(top, rgba(244,177,0,1) 0%,rgba(238,144,0,1) 100%);
    background: -moz-linear-gradient(top, rgba(244,177,0,1) 0%,rgba(238,144,0,1) 100%);
    background: linear-gradient(top, rgba(244,177,0,1) 0%,rgba(238,144,0,1) 100%);
}

.bar p {
    float: left;
    margin-left: 5px;
    font: normal 12px/1em 'Helvetica';
}
