div, figure, section, p, h4{
    margin:0;
    padding:0;
}
.parent{
    position:relative;
    width:300px;
    height:550px;
    background:#fff;
    margin:0 auto;
    /*perspective*/
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    -ms-perspective:1000px;
    -o-perspective:1000px;
    perspective:1000px;

    /*perspective-origin*/
    -webkit-perspective-origin:50% 50%;
    -moz-perspective-origin:50% 50%;
    -ms-perspective-origin:50% 50%;
    -o-perspective-origin:50% 50%;
    perspective-origin:50% 50%;
}
.card{
    z-index:0;
    margin:0;
    padding:0;
    cursor:pointer;
    width:130px;
    height:130px;
    position:absolute;
    box-sizing:border-box;

    /*transform-style*/
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;

    /*transition*/
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
    margin:5px 0px 0 15px;
}
.hover{
    z-index:3;
    width:300px;
    height:550px;
    /*transform*/
    -webkit-transform: rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    -ms-transform:rotateY(-180deg);
    -o-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    margin:0 0 0 0;
}

.card figure{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    /*backface-visibility*/
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
}

.card .front{
    background:#333333;
    z-index:0;
}

.hover .back{z-index:5;}


.card .back{
    /*linear-gradient*/
    background:-webkit-gradient(linear,0 100%,100% 0,color-stop(rgba(229,229,229,1),0),color-stop(rgba(255,255,255,1),1));
    background:-webkit-linear-gradient(45deg, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background:   -moz-linear-gradient(45deg, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background:     -o-linear-gradient(45deg, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background:        linear-gradient(45deg, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    /*transform*/
    -webkit-transform:translateZ(0) rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg) translate3d(0, 0, 0);
}
.cl{
    /*transform-origin*/
    -webkit-transform-origin:50% 0%;
    -moz-transform-origin:50% 0%;
    -ms-transform-origin:50% 0%;
    -o-transform-origin:50% 0%;
    transform-origin:50% 0%;
    left:0;
    border-right:none !important;
}
.cr{
    /*transform-origin*/
    -webkit-transform-origin:25% 0%;
    -moz-transform-origin:25% 0%;
    -ms-transform-origin:25% 0%;
    -o-transform-origin:25% 0%;
    transform-origin:25% 0%;
    left:150px;
    margin-left:0;
}
.payment{top:0;}
.engine{top:0;}
.mpg{top:135px;}
.towing{top:135px;}
.transmission{top:270px;}
.audio{top:270px;}
.wheels{top:405px;}
.interior{top:405px;}

.payment.hover, .engine.hover, .mpg.hover, .towing.hover, .transmission.hover, .audio.hover, .wheels.hover, .interior.hover{
    top:0;
}

.bar blockquote.first{
    width:80px;
    -webkit-transition: width 1s ease 0;
    -moz-transition: width 1s ease 0;
    transition: width 1s ease 0;
}
.bar blockquote.second{
    width:120px;
    -webkit-transition: width 1s ease 800ms;
    -moz-transition: width 1s ease 800ms;
    transition: width 1s ease 800ms;
}
.bar blockquote.third{
    width:160px;
    -webkit-transition: width 1s ease 1800ms;
    -moz-transition: width 1s ease 1800ms;
    transition: width 1s ease 1800ms;
}
