/* begin styling */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
    background-color: #111;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
}

#main {
    -webkit-perspective: 500px;
    perspective: 500px;
}

img{visibility: hidden !important; display: none !important;}


h1, h2, h3 {
    font-family: 'Avenir Next W10 Medium';
    font-size: 24px;
    color:#111;
}

p {
    font-family: 'Avenir Next W01 Thin';
    font-size: 18px;
    line-height: 24px;
    color:#111;
}
a {
    font-family: 'Avenir Next W10 Medium';
}

.backfaceVisible {
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
}

.white              { color: white; }

.bor_clear  { border: 0; }
.bor_clear:focus { outline: 0 }

.left       { float: left; }
.right      { float: right; }
.inline     { display: inline; }
.block      { display: block; }
.clear      { clear: both; }
.absolute   { position: absolute }

.famous-signup-backing{color: #111;}

.description-panel {
    background-color: rgba(77, 77, 77, 0.5);
    color:#111;
}
.description-closing-tab {
    border: 1px solid white;
    color:#111;
}

.no-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.textinput
{
    display:none;
    height:40px;
    width:100%;
    padding-left: 6px;
    padding-top: 0px;
    color: rgba(255, 255, 255, .750);
    font-size: 24px;
    font-family: 'Avenir Next W10 Thin';
    background-color:rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(255, 255, 255, .750);
    outline-width: 0px;
}

.textinput:focus
{
    color: rgba(255, 255, 255, 1.0);
    border: 1px solid rgba(255, 255, 255, 1.0);
    outline-width: 0px;
}

.famous-signup-spacer{display:none;}
img[draggable=false]{visibility:hidden;}

.submit
{
    display:none;
    padding-top: 9px;
    padding-left: 4px;
    line-height: 24px;
    font-size: 24px;
    font-family: 'Avenir Next W10 Thin';
}